<section class="total">

    <section class="principal">
        <div class="universo">
            <div class="flipper">
                <div>
                    <span class="front">NOT FOUND ERROR 404</span>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-pesonagens">
        <div class="personagens">
            <div class="spok">
                <img class="universo" src="../../../assets/img/spok.png">
            </div>
            <div class="yoda">
                <img class="universo" src="../../../assets/img/yoda.png">
            </div>
        </div>
    </section>

    <section class="msg">
        <div class="msg1">
            <span>Perdido e com medo?</span>
            <button mat-raised-button color="" (click)="listCont()">Volte para Lista</button>
        </div>
        <div class="msg2">
            <span>Perdido mas curioso?</span>
            <a href="http://www.virtualatari.org/soft.php?soft=Enduro" target="_blank"> <button mat-raised-button
                    color="">Perigo e diversão</button></a>
        </div>
    </section>

</section>